body, html{
	margin: 0;
	padding: 0;
}

html{
	font-family: verdana;
	background-color: black;
	color: white;
	text-align: center;
}

h1{
	font-size: 50px;
}
h2{
	font-size: 42px;
	font-weight: 300;
}
h3{
	font-size: 21px;
	color: gray;
}
h1,h3{
	font-weight: normal;
}
a{
	color: aquamarine;
	font-size: 16px;
	display: block;
	margin: 21px 0;
}
footer h3{
	text-align: right;
	margin-right: 8px;
}
img{
	display: block;
	margin: 0 auto;
}
.icon{
	margin-top: 21px;
}